<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    © {new Date().getFullYear()} Shree Chaurasia.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://sidonweb.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Siddharth
    </a>
  </p>
</footer>
