---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
 <div class="py-4 md:order-1 hidden md:block max-w-[280px] mx-auto">
  <!-- <Picture
    src={heroImage}
    alt="Penguin with a laptop"
    widths={[100, 200, 300]}
    sizes="(max-width: 400px) 100vw, 250px"
    class="rounded-lg"
    quality={100}
    loading="eager"
    format="avif"
/> -->
<img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWtpcm1pOXVhbjhscno0eTM0amd4Z3Rha3VoYzdjcmVveDE3czEyZyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/oqz2J05eS1yPOhUMLP/giphy.gif" alt="Penguin with a laptop" class="rounded-lg" loading="eager" />
</div>

  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Hey! I'm Shree, a UX/UI Designer. 🌻
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      I'm a UX/UI Designer with over three years experience conceptualizing and crafting digital products, helping businesses and non-profits expand their capacity for impact. 🚀 
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/service"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        💪

         Work with me?
      </Link>
      <!-- <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        💼
         Freelancer
      </Link> -->
    </div>
  </div>
</main>
