---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title ? `${title} | Shree` : "Shree | UI/UX Designer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Shree is a UI/UX designer focused on crafting thoughtful, modern user experiences. Explore her design work, ideas, and career journey."
      canonical={canonicalURL}
      twitter={{
        creator: "@uiuxwithshree",
        site: "@uiuxwithshree",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Screenshot of Shree’s portfolio showcasing clean and modern UI designs",
        },
      }}
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
      html {
        font-family: "Outfit", sans-serif;
      }
      /* Hide scrollbar for all browsers */
      html {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
      }
      html::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }
      body::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -10;
        background: linear-gradient(
          115deg,
          rgba(255, 0, 149, 0.15),
          rgba(0, 200, 255, 0.15)
        );
        animation: aurora 20s ease-in-out infinite;
        mix-blend-mode: screen;
        pointer-events: none;
        filter: blur(80px);
        opacity: 0.8;
      }

      @keyframes aurora {
        0% {
          transform: translate(0, 0) scale(1);
        }
        50% {
          transform: translate(-5%, -3%) scale(1.03) rotate(2deg);
        }
        100% {
          transform: translate(0, 0) scale(1);
        }
      }
    </style>
  </body>
</html>
